body {
    background: linear-gradient(150deg, rgb(162, 161, 241), rgb(225, 156, 223));
    background-size: 400% 300%;
}

.seccion-perfil-usuario .perfil-usuario-body,
.seccion-perfil-usuario {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 auto;
    width: 97%;
}

.seccion-perfil-usuario .perfil-usuario-portada {
    display: block;
    position: relative;
    width: 90%;
    height: 9rem;
}

.seccion-perfil-usuario .perfil-usuario-avatar {
    display: fixed;
    width: 80px;
    height: 80px;
    align-items: center;
    justify-content: center;
    background-color: #DFE5F2;
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 10;
}

.seccion-perfil-usuario .perfil-usuario-avatar img {
    width: 80px;
    position: relative;
    left: -1px;
    border-radius: 50%;
    bottom: -2px;
}

.seccion-perfil-usuario .perfil-usuario-footer,
.seccion-perfil-usuario .perfil-usuario-bio {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem 2rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    background-color: rgb(153, 117, 212);
    border-radius: 15px;
    width: 1730px;
    color: white;
    margin-top: -10px;
    margin-left: -30px;
}

.perfil-usuario-bio ul{
    width: 100%;

    list-style: none;
}

.perfil-usuario-bio ul li{
    width: 97%;
    margin-left: -40px;
    list-style: none;
}

.seccion-perfil-usuario .perfil-usuario-bio {
    margin-bottom: 1.25rem;
    text-align: center;
    z-index: 2;
    width: 100%;
    height: 100%;
}

.checkbox {
    display: none;
}

header {
    position: fixed;
    width: 100%;
    z-index: 10;
}

.header-container {
    transition-duration: 1s;
    width: 100%;
    height: 100px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(153, 117, 212);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.btn-label {
    width: 2rem;
    height: 1.4rem;
}

.header-button {
    width: 2rem;
    height: 0.2rem;
    background: white;
    position: absolute;
    top: 1.9rem;
    transition: all 0.2s;
    cursor: pointer;
    margin-top: 10px;
    right: calc(100% - 60px);
}

.header-button:hover{
    background-color: #6464f8;
}

.header-button::before,
.header-button::after {
    content: "";
    width: 2rem;
    height: 0.2rem;
    background: white;
    position: absolute;
    top: -0.6rem;
    transition: all 0.2s;
}

.header-button::after {
    top: 0.6rem;
}

.menu {
    background: #d1d1d1;
    width: 100%;
    height: 90px;
    position: fixed;
    z-index: 9;
    top: -12rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    padding-top: 2rem;
    transition: all 1s;
}

.menu ul{
    list-style: none;
}

.menu a {
    margin: 0 1rem;
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(230, 155, 220);
}

.checkbox:checked ~ .menu {
    transition-duration: 1s;
    background: rgb(153, 117, 212);
    top: 0rem;
    color: white;
}
.checkbox:checked + header .header-container label .header-button {
    background: none;
}
.checkbox:checked + header .header-container label .header-button::before {
    transform: rotate(35deg);
    top: 0;
}
.checkbox:checked + header .header-container label .header-button::after {
    transform: rotate(-35deg);
    top: 0;
}

.checkbox:checked + header .header-container {
    transition-duration: 1s;
    background: none;
    height: 1px;
}

.checkbox:checked + header .header-container p{
    display: none;
}

.formulario {
    width: 400px;
    background: rgb(187, 159, 233);
    text-align: center;
    box-shadow: 7px 13px 37px #000;
    border-radius: 8px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 40px;
}

.formulario textArea{
    display: block;
    margin: 0 auto;
    width: 270px;
    height: 80px;
    resize: none;
    border-bottom: solid 5px white;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    padding: 8px;
}

.formulario input {
    width: 70%;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    background-color: transparent;
    border: none;
    border-bottom: white thin solid;
    text-align: center;
    outline: none;
    padding: .2rem 0;
    font-size: .9rem;
    margin-top: 10px;
}

.formulario select {
    width: 70%;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    border: none;
    background-color: transparent;
    border-bottom: white thin solid;
    text-align: center;
    outline: none;
    padding: .2rem 0;
    font-size: .9rem;
    margin-top: 10px;
    cursor: pointer;
}

.formulario select:hover {
    background: rgb(225 156 223);
}

.formulario input::placeholder{
    color: #3a3737;
}

.formulario input[type="submit"] {
    width: 60%;
    margin: auto;
    border: solid thin white;
    padding: .7rem;
    border-radius: 2rem;
    background-color: white;
    font-weight: 600;
    margin-top: 1rem;
    font-size: .8rem;
    cursor: pointer;
    color: #222;
}

.formulario input[type=number]::-webkit-inner-spin-button,
.formulario input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.formulario input[type="submit"]:hover {
    background: rgb(230, 155, 220);
    color: white;
}

.volver .btn_Volver{
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position:fixed;
    bottom:20px;
    left:30px;
    border: none;
    background-color: white;
}

.volver .btn_Volver:hover{
    background-color: #6464f8;
}

#particles-js{
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 1;
}