body{
    background: linear-gradient(to right,mediumpurple,lightcoral);
}
.title{
    text-align: center;
    color: window;
}
.calendar{
    background: #d9b3f5;
    margin:1em auto;
    padding: .5em 0;
    height: 90%;
    width: 1552px;
    color:black;

}
/*.div_tabla {
    display: grid;
    justify-content: center;
    align-content: center;
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
}*/


.calendar_info{
    display:flex;
    align-items: center;
    padding: 0 2em;
    font-size: 1.2em;
    text-transform: uppercase;
}

.next-month, .prev-month{
    color: #DBE5ED;
    cursor: pointer;
    font-size: 1.2em;
}
.next-month{
    margin-left: auto;
}
.prev-month{
    margin-right: auto;
}

.calendar__week, .calendar_dates{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-gap:10px;
    width: 1500px;
}
.calendar_day{
    text-align: center;
    line-height:2;

    width: 100%;
    min-width: 217px;
    max-width: 350px;
    width: 150px;
}
.calendar__month,calendar__year{
    padding: .5em 1em;
}
.calendar__dateCalendar__item{
    text-align:center;
    line-height:2;
    border:1px solid black;
    padding: 0px;
    margin: 0;

    display: flex;
    flex-flow: column;
    flex: 1;

    width: 100%;
    min-width: 178px;
    max-width: 217px;
    height: 100%;
    min-height: 150px;

    background-color: rgba(0, 0, 0, 0.1);
    margin: 0 15px;
    padding: 8px;
    transition: all 0.2s linear;

}
.calendar__dateCalendar__item_today{
    background: lightcoral;
    color: white;
    width: 50%;
    border-radius: 50%;
    margin: auto;
}

.calendar__dateCalendar__item_calendar__last_days{
    opacity:.3;
}


.seccion-perfil-usuario, .perfil-usuario-footer{
    height: 100%;
    width: 100%;
}

.divCita{
}


.seccion-perfil-usuario, .perfil-usuario-body {
    width: 100%;
    position: relative;
    max-width: 1144px;
}
.seccion-perfil-usuario, .perfil-usuario-footer, .seccion-perfil-usuario .perfil-usuario-bio {
    width: 1700px;
    margin-top: -40px;
}
.li{
    width: 1690px;
}
.ul{
    width: 1695px;
}

.divCitaCompletada {
    background: greenyellow;
    border-radius: 8px;
    text-align: center;
    margin: 4px 0px;
}

.divCitaDisponible {
    background: whitesmoke;
    border-radius: 8px;
    text-align: center;
    margin: 0px 0px;
}

