html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    line-height: 1.4;
}

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: white;
    background-size: 100%;
}


.seccion-perfil-usuario .perfil-usuario-body,
.seccion-perfil-usuario {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.seccion-perfil-usuario .perfil-usuario-header {
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(#B873FF, transparent);
    margin-bottom: 1.25rem;
}

.seccion-perfil-usuario .perfil-usuario-portada {
    display: block;
    position: relative;
    width: 90%;
    height: 17rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 0 0 20px 20px;
    z-index: 2;

}

.seccion-perfil-usuario .perfil-usuario-portada .boton-portada {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: 0;
    border-radius: 8px;
    padding: 12px 25px;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    cursor: pointer;
}

.seccion-perfil-usuario .perfil-usuario-portada .boton-portada:hover{
    background-color: #6464f8;
}

.perfil-usuario-avatar .boton-avatar:hover {
    background-color: #6464f8;
}

.image-upload>input {
    display: none;
}

.perfil-usuario-avatar .boton-avatar input::before {
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}
.perfil-usuario-avatar .boton-avatar input::-webkit-file-upload-button {
    visibility: hidden;
}
.perfil-usuario-avatar .boton-avatar input:hover::before {
    border-color: black;
}

.seccion-perfil-usuario .perfil-usuario-portada .boton-portada i {
    margin-right: 1rem;
}
.seccion-perfil-usuario .perfil-usuario-portada .boton-portada a {
    color: white;
    text-shadow: 5px 5px 8px black;
}

.seccion-perfil-usuario .perfil-usuario-avatar {
    display: flex;
    width: 180px;
    height: 180px;
    align-items: center;
    justify-content: center;
    border: 7px solid #FFFFFF;
    background-color: #DFE5F2;
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    position: absolute;
    bottom: -40px;
    left: calc(50% - 90px);
    z-index: 1;
}

.seccion-perfil-usuario .perfil-usuario-avatar img {
    width: 100%;
    position: relative;
    border-radius: 50%;
}

.seccion-perfil-usuario .perfil-usuario-avatar .boton-avatar {
    position: absolute;
    left: -2px;
    top: -2px;
    border: 0;
    background-color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
}

.seccion-perfil-usuario .perfil-usuario-avatar .boton-avatar:hover {
    background-color: #6464f8;
    color: white;
    text-shadow: 5px 5px 8px black;
}


.seccion-perfil-usuario .perfil-usuario-body {
    width: 70%;
    position: relative;
    max-width: 750px;
}

.seccion-perfil-usuario .perfil-usuario-body .titulo {
    display: block;
    width: 100%;
    font-size: 1.75em;
    margin-bottom: 0.5rem;
}

.seccion-perfil-usuario .perfil-usuario-body .texto {
    color: #848484;
    font-size: 0.95em;
    color:black;
}

.seccion-perfil-usuario .perfil-usuario-footer,
.seccion-perfil-usuario .perfil-usuario-bio {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem 2rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    background: rgb(187, 159, 233);
    border-radius: 15px;
    width: 100%;
    color: black;
    z-index: 2;
}

.seccion-perfil-usuario .perfil-usuario-bio {
    margin-bottom: 1.25rem;
    text-align: center;
}

.seccion-perfil-usuario .lista-datos {
    width: 100%;
    list-style: none;
}

.seccion-perfil-usuario .lista-datos li {
    padding: 5px 0;
}

.seccion-perfil-usuario .lista-datos li>.icono {
    margin-right: 1rem;
    font-size: 1.2rem;
    vertical-align: middle;
}

.lista-datos li p{
    display: inline-block;
}

.fa-edit a{
    text-decoration: none;
    color: white;
}

.fa-edit a:hover{
    text-decoration: underline;
}

.volver .btn_Volver{
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position:absolute;
    bottom:20px;
    left:30px;
    border: none;
    background-color: rgb(162, 161, 241);
    z-index: 2;
}

.volver .btn_Volver:hover{
    background-color: #6464f8;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    z-index: 99;
    opacity: 0;
    pointer-events: none;
}

.modal_container{
    margin: auto;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    background-color: transparent;
    border-radius: 6px;
    padding: 3em 2.5em;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
}

.modal button{
    position: fixed;
    width: 50px;
    height: 50px;
    color: red;
    margin-left:140px;
    margin-top: -20px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.modal button:hover{
    color: #6464f8;
}

.modal--show{
    opacity: 1;
    pointer-events: unset;
}

.formulario_Editar_Administrador h2{
    margin-top: 20px;
    margin-bottom: 20px;

}

.formulario_Editar_Administrador{
    margin-top: -20px;
    width: 400px;
    height: 460px;
    background: rgb(187, 159, 233);
    text-align: center;
    box-shadow: 7px 13px 37px #000;
    border-radius: 8px;
    z-index: 2;
    overflow-y:scroll;
    overflow-x:hidden;
}

.formulario_Editar_Administrador::-webkit-scrollbar {
    display: none;
}

.formulario_Editar_Administrador input {
    width: 70%;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    background-color: transparent;
    border: none;
    border-bottom: white thin solid;
    text-align: center;
    outline: none;
    padding: .2rem 0;
    font-size: .9rem;
    color: white;
}

.formulario_Editar_Administrador input[type="submit"] {
    width: 60%;
    margin: auto;
    border: solid thin white;
    padding: .7rem;
    border-radius: 2rem;
    background-color: white;
    font-weight: 600;
    margin-top: 1rem;
    font-size: .8rem;
    cursor: pointer;
    color: #222;
    margin-bottom: 20px;
}

.formulario .especialidades{
    border-color: #6464f8;
    border-style: solid;
    border-width: 1px;
    margin: 20px;
}

.formulario_Editar_Administrador .formulario label{
    display: block;

}

.formulario_Editar_Administrador .formulario div input{
    display: inline;
}

.formulario_Editar_Administrador .formulario div label{
    display: inline;
}

.formulario_Editar_Administrador .formulario input{
    display: inline;
}

.formulario_Editar_Administrador input[type=number]::-webkit-inner-spin-button,
.formulario_Editar_Administrador input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.formulario_Editar_Administrador input[type="submit"]:hover {
    background: rgb(230, 155, 220);
    color: white;
}

#particles-js{
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.formulario_Editar_Administrador .formulario div .container {
    display: block;
    position: relative;
    margin-bottom: 10px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: 20%;
}

.formulario_Editar_Administrador .formulario div .container input[type=checkbox] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.formulario_Editar_Administrador .formulario div .container .dias{
    width: 150%;
    display: none;
    position: relative;
    right: 26%;

}

.formulario_Editar_Administrador .formulario div .container .dias input[type=checkbox]:checked ~ div{
    display: block;
}

.formulario_Editar_Administrador .formulario div .container .dias div{
    border: none;
}

.formulario_Editar_Administrador .formulario div .container .dias div div{
    border-color: white;
    border-style: solid;
    border-width: 1px;
    display: none;
    width: 120%;
    margin-top: 10%;
}

.formulario_Editar_Administrador .formulario div .container .dias label{
    display: block;
}

.formulario_Editar_Administrador .formulario div .container .dias input[type=checkbox] {
    opacity: 1;
    cursor: pointer;
    height: 10px;
    width: 10px;
}

.formulario_Editar_Administrador .formulario div .container {
    margin-right: 20%;
}

.formulario_Editar_Administrador .formulario div{
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 2px;
    width: 70%;
    height: 100%;
    margin: 0 auto;
    padding: 10px;
}

.formulario_Editar_Administrador .formulario .horarioSemanal{
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 2px;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    display: none;
    border: none;
    margin-top: 10%;
}

.formulario_Editar_Administrador .formulario .horarioSemanal input{
    display: block;
    cursor: pointer;
}

.formulario_Editar_Administrador .formulario div .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
    margin-left: -20%;

}

.formulario_Editar_Administrador .formulario div .container:hover input ~ .checkmark {
    background-color: #ccc;
}

.formulario_Editar_Administrador .formulario div .container input:checked ~ .checkmark {
    background: rgb(230, 155, 220);
}

.formulario_Editar_Administrador .formulario div .container input:checked ~ div {
    display: block;
}

.formulario_Editar_Administrador .formulario div .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.formulario_Editar_Administrador .formulario div .container input:checked ~ .checkmark:after {
    display: block;
}

.formulario_Editar_Administrador .formulario div .container .checkmark:after {
    left: 5px;
    top: 1px;
    width: 2px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.formulario_Editar_Administrador .formulario div .container .dias div input[type=checkbox]{
    float: left;
    margin-top: -3%;
    right: 80%;
    width: 15px;
    height: 15px;

}

.formulario_Editar_Administrador .formulario div .container .dias div label{
    margin-bottom: -5%;
}


@keyframes degradado{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}